APP_NAME=AntiBot-Fingerprint-Prober
APP_ENV=development
DEBUG=True

SERVER_HOST=127.0.0.1
HTTP_PORT=8000
TLS_PROBER_PORT=8443

LOG_LEVEL=INFO

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5434
POSTGRES_DB=antibot_db

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0